.infoPlayer {
    position: static;
    display: grid;
}

.infoPlayer2 {
    position: static;
    display: grid;
}

.btn-exit-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-exit-container2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.data-input {
    width: 100px;
    /*margin: 1px;*/
    border: none;
    border-bottom: 1px solid #dddddd;
    border-radius: 0px;
}

.data-input:focus {
    border: none;
    border-bottom: 1px solid #dddddd;
    border-radius: 0px;
    outline: none;
}
