.AppBoss {
    display: flex;
    flex-direction: column;
    width: 520px;
}

.App2 {
    display: flex;
    flex-direction: column;
    width: 25vh;
}



.btn-joinEnemy {
    padding: 5px;
    width: 50px;
}

.barhud-container3 {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.backgroundJoin {

}

.mana-life {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.btn-mafla {
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 77px;
    border-radius: 10px;
}

.changeMana:hover {
    border: 2px solid #7e3bd3;
    color: #7e3bd3;
}

.changeMana:active {
    background-color: #7e3bd355;
}

.changeLife:hover {
    border: 2px solid #32d80f;
    color: #32d80f;
}

.changeLife:active {
    background-color: #32d80f55;
}

.lifebar-container-2 {
    margin: 5px;
    width: 500px;
    height: 25px;
    border: 2px solid #000000;
    border-radius: 3px;
    overflow: hidden;
    background-image: linear-gradient(to top, #aaaaaa, #dddddd);
    transform: skewX(-30deg);
}

.manabar-container-2 {
    width: 350px;
    height: 15px;
    border: 2px solid #000;
    border-radius: 10% 70% / 100px 1px;
    overflow: hidden;
    background-image: linear-gradient(to top, #aaaaaa, #dddddd);
}

.lifebar-container-3 {
    margin: 5px;
    width: 130px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 20px;
    overflow: hidden;
    background-image: linear-gradient(to top, #aaaaaa, #dddddd);

}

.manabar-container-3 {
    width: 100px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 10% 70% / 100px 1px;
    overflow: hidden;
    background-image: linear-gradient(to top, #aaaaaa, #dddddd);
}

.lifebar-2 {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to left, #d34dff, #8000b3);
    transition: width 0.3s ease-in-out;
}

.lifebar-3 {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to left, #ff4d4d, #b30000);
    transition: width 0.3s ease-in-out;
}

.manabar-2, .manabar-3 {
    height: 100%;
    background-image: linear-gradient(to bottom, #949494, #818181);
    transition: width 0.3s ease-in-out;
}

.life-info {
    padding-left: 10px;
    margin: 0;
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
    -webkit-text-stroke: 0.8px black;
}

.mana-info {
    padding-left: 10px;
    margin: 0;
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
    -webkit-text-stroke: 0.8px black;
}

.AppBoss.below-30-percent-2 .lifebar-2 {
    background-image: linear-gradient(to left, #7909c3, #650b79);
}

.App2.below-30-percent-3 .lifebar-3 {
    background-image: linear-gradient(to left, #c30909, #790b0b);
}
