.orderHud {
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.orderBoss {
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.letterColor {
    background-image: linear-gradient(to top, #ffffff, #b0b0b0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.4px black;
}
